[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=xfce4-autostart
Comment=set-up session
Exec=/home/REPLACEME/.config/xfce4/autostart.sh
StartupNotify=false
Terminal=false
Hidden=false

