[Desktop Entry]
Version=1.0
Type=Application
Exec=xfrun4
Icon=system-run
StartupNotify=false
Terminal=false
Categories=Utility;X-XFCE;X-Xfce-Toplevel;
OnlyShowIn=XFCE;
Name=Run Program...
Name[ca]=Executa el programa…
Name[cs]=Spustit aplikace...
Name[da]=Kør program...
Name[de]=Programm ausführen...
Name[el]=Εκτέλεση προγράμματος...
Name[en_GB]=Run Program...
Name[es]=Ejecutar programa...
Name[eu]=Programa abiarazi...
Name[fi]=Käynnistä ohjelma...
Name[fr]=Exécuter un programme...
Name[gl]=Executar programa...
Name[he]=הפעלת תכנית...
Name[hr]=Pokreni program...
Name[hu]=Program futtatása…
Name[id]=Jalankan Program...
Name[it]=Esegui programma...
Name[ja]=プログラムの実行...
Name[kk]=Бағдарламаны жөнелту...
Name[ko]=프로그램 실행...
Name[ms]=Jalankan program
Name[nb]=Kjør program...
Name[nl]=Programma draaien...
Name[pl]=Uruchom polecenie
Name[pt]=Executar programa...
Name[pt_BR]=Executar programa...
Name[ro]=Pornire de programe...
Name[ru]=Выполнить...
Name[sk]=Spustiť program...
Name[sv]=Kör program...
Name[te]=ప్రోగ్రామును నడుపు...
Name[tr]=Uygulamayı çalıştır...
Name[ug]=پروگرامما ئىجرا قىل...
Name[uk]=Запустити програму...
Name[zh_CN]=运行程序...
Name[zh_TW]=執行程式...
Comment=Run a program
Comment[ca]=Executa un programa
Comment[cs]=Spustit aplikaci
Comment[da]=Kør et program
Comment[de]=Ein Programm ausführen
Comment[el]=Εκτέλεση προγράμματος
Comment[en_GB]=Run a program
Comment[es]=Ejecute un programa
Comment[eu]=Programa abiarazi
Comment[fi]=Käynnistä ohjelma
Comment[fr]=Exécuter un programme
Comment[gl]=Executar un programa
Comment[he]=הפעלת תכנית
Comment[hr]=Pokreni program
Comment[hu]=Program futtatása
Comment[id]=Jalankan sebuah program
Comment[it]=Esegue un programma
Comment[ja]=プログラムを実行します
Comment[kk]=Бағдарламаны жөнелту
Comment[ko]=프로그램 실행
Comment[ms]=Jalankan program
Comment[nb]=Kjør et program
Comment[nl]=Een programma draaien
Comment[pl]=Uruchamia polecenie z opcjonalnymi argumentami
Comment[pt]=Executar um programa
Comment[pt_BR]=Executar um programa
Comment[ro]=Pornire de programe
Comment[ru]=Запуск программы
Comment[sk]=Spustiť program
Comment[sv]=Kör ett program
Comment[te]=ఒక ప్రోగ్రామును నడుపు
Comment[tr]=Bir uygulama çalıştır
Comment[ug]=پروگرامما ئىجرا قىلىدۇ
Comment[uk]=Запустити програму
Comment[zh_CN]=运行程序
Comment[zh_TW]=執行程式
