[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=STAR-Welcome
Comment=Setup Additional Applications
Exec=star-welcome --firstrun
StartupNotify=false
Terminal=false
Hidden=false

